.image, .game, p, div, title, button, footer, form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width:none;
    background-color:;
    }
    
    button:hover{
       background-color:bisque;
       color:white;
    }
    
    .gray, footer{
       background-color:whitesmoke;
       padding: auto;
    }
    
    