.image, .game, p, div, title, button, footer,text, input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width:px;
    font-size: x-large;
    }

.wrapper{
    display: grid;
}
.input1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: center;
    margin-right: auto;
}

    button:hover{
       background-color:bisque;
       color:white;
    }
    .pass{
        float: left;
    }

    .container{
        padding: 20px 0;
        margin: 75px 75px;
        flex-direction:column;
        /* flex-wrap: wrap; */
        /* grid-template: 2fr 20% 100px; */
        /* grid-template-columns: 2fr 50% 100px; */
        display:grid;
        grid-template-columns: 30px 200px auto 100px 30px 200px auto 100px;                        
        /* grid-template: repeat(6,25%) / repeat(6, 33.3%); */
        /* text-align: center; */
        /* grid-column: 6 / span 8; */
        border: 10px solid black;
        grid-column-start: 1;
        /* grid-column-end: span 2; */
        /* grid-row-start: 2; */
        /* grid-row-end: span 2; */
        /* grid-area: 2/3/3/9; */
        grid-area: 6;
        align-self: center;
        justify-content: space-evenly;
        font-size: x-large;
    }



    .container > div{
        background-color:whitesmoke;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }


        .nextround{
            text-align: center;
            float: left;
        }

     /* .container{
        grid-template: 2fr 20% 100px;
        grid-template-columns: 2fr 50% 100px;
        height: 90vh;
        grid-row-start: 6;
        gap: 15px 10px;
        margin: 2rem;
        display: grid;
        border:  5px solid rgba(0, 0, 0, 0.8);
        /* grid-template: auto auto auto auto; */
        align-items: center;
         /* grid-template: repeat(4,25%)/ repeat(20, 12.5%); */
        grid-auto-rows: 150px;
        grid-template-areas: none;
        align-self: center;
        grid-template-rows: 1 fr 1 fr 1 fr;
        /* grid-template-areas: "Category Category Category Category Category Category"; */
    }  */


    /* .cell{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 2;
    } */

    .cell{
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 10px;
        text-align: center;
    }

    .cell{
        color:black;
        font-size: 1rem;
        text-align: center;
        padding: 4rem;
    }

    
    .cell-1{
        background: deepskyblue;
        font-size: 1rem;
        text-align: center;
        padding: 4rem;
    }
    .cell-2{
        background: orangered;
        font-size: 1rem;
        text-align: center;
        padding: 4rem;
    }
    .cell-3{
        background: royalblue;
    }

    .cell-4{
        background: gold;
    }
    .cell-5{
        background: blueviolet;
    }

    .cell-6{
        background: limegreen;
    }

    .cell-7{
        background: coral;
    }

    .cell-8{
        background: lightseagreen;
    }

    .cell-9{
        background: maroon;
    }
    .cell-10{
        background: maroon;
    }
    .cell-11{
        background: maroon;
    }

    .cell-12{
        background: maroon;
    }
    .cell-13{
        background: maroon;
    }
    .cell-14{
        background: maroon;
    }
    .cell-15{
        background: maroon;
    }
    .cell-16{
        background: maroon;
    }
    .cell-17{
        background: maroon;
    }
    .cell-18{
        background: maroon;
    }
    .cell-19{
        background: maroon;
    }
    .cell-20{
        background: maroon;
    }
    .cell-21{
        background: maroon;
    }
    .cell-22{
        background: maroon;
    }
    .cell-23{
        background: maroon;
    }
    .cell-24{
        background: maroon;
    }
    .cell-25{
        background: maroon;
    }
    .cell-26{
        background: maroon;
    }
    .cell-27{
        background: maroon;
    }
    .cell-28{
        background: maroon;
    }
    .cell-29{
        background: maroon;
    }
    .cell-30{
        background: maroon;
    }
    .cell-31{
        background: maroon;
    }
    .cell-32{
        background: maroon;
    }
    .cell-33{
        background: maroon;
    }